<h2>Categories (<%= @categories.count %>)</h2>

<ol>
  <% @categories.each do |category| %>
    <li>
      <%= category.title %>
      (<%= category.products.count %> products)
    </li>
  <% end %>
</ol>
